aiohttp==3.8.1
beautifulsoup4==4.11.1
requests==2.28.1
starlette==0.20.4
uvicorn==0.18.2
pycryptodome>=3.9.7
m3u8>=0.6.0
pathvalidate>=2.3.0
progress>=1.5
fsspec==0.6.3
PyAthena==1.10.2
s3fs==0.4.0
websockets==10.3

